.purchase{
  width: 100%;
  
  background-color:gainsboro;
  
  &__image{
    display: block;
    width:200px;
    margin: auto;
  }

  &__container{
    color: black;
  width: 700px;
  background-color: white;
  box-sizing: border-box;
    margin: auto;
    padding-bottom: 20px;
    &__title{
      font-size: 24px;
      width:300px;
      margin: auto;
      padding: 20px 40px;
   
      background: linear-gradient(25deg, rgba(244, 248, 4, 0.966), rgba(252, 6, 219, 0.603)) ,url(utyuu.jpg);
      padding: 15px 20px;
      font-weight: bold;
      text-align: center;
    }
    &__description{
      display: block;
      margin-top: 40px;
      text-align: center;
      margin-bottom: 50px;
    }
    &__link{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      top:20px;
      display: block;
      margin: 40px 0 0 0;
      border: 1px solid #ea352d;
      background: #ea352d;
      color:#fff;
      width: 100%;
      line-height: 48px;
      font-size: 14px; 
      cursor: pointer;
      padding: 15px;
      box-sizing: border-box;
      margin:auto;
    }
    &__footer{
      display: block;
      height: 300px;
    }
  }
}