.wrapper
  = render 'shared/header'
  .mypage-main
    .right-container
    .left-container
      .user-top
        %a.top-box
          .user-img
            = image_tag 'https://cdn.pixabay.com/photo/2018/12/25/11/10/deer-3894103_1280.png', alt: '', height: '60', width: '60', id: 'rad'
          .user-nick
            りょう
          .user-val
            評価
            %span.bold 0
            出品数
            %span.bold 0
      .user-notice
        %ul.user-tab
          %li.active-1
            %h3
              %a.one
                お知らせ
          %li.active-2
            %h3
              %a.one
                やることリスト
        .user-box
          %ul.list-box
            %li.not-find-box-1
              現在、お知らせはありません
          -# %ul
          -#   %li.not-find-box-2
          -#     現在、やることリストはありません
      .user-history
        %h2.history-head
          購入した商品
        %ul.history-tab
          %li.active-3
            取引中
          %li.active-4
            過去の取引
        .history-box
          %ul.history-list
            %li.not-find-history-1
              取引中の商品がありません
            -# %li.not-find-history-2
            -#   過去に取引した商品がありません

  = render 'shared/footer'