-# ピックアップカテゴリー、新着アイテムなど真ん中のメインコンテンツ
.all-contents
  .all-contents__contents

    .picup-category
      ピックアップカテゴリー

    .ladies
      .ladies__caption
        レディース 新着アイテム

      .ladies__products

        .product-1
          .photo-zone-1
            = image_tag 'ladies-1.jpg', class: "ladies-1-img"
          .data-1
            .name-1
              あああああああああああああああああああ
            .price-1
              ¥100

        .product-2
          .photo-zone-2
            -# = image_tag 'ladies-2.png', class: "under-banner-img"
          .data-2
            .name-2
            .price-2

        .product-3
          .photo-zone-3
            -# = image_tag 'ladies-3.png', class: "under-banner-img"
          .data-3
            .name-3
            .price-3

        .product-4
          .photo-zone-4
            -# = image_tag 'ladies-4.png', class: "under-banner-img"
          .data-4
            .name-4
            .price-4

    .show-all
      すべての商品を見る
