-# -# 出品ボタン
-# - if user_signed_in?
-#   = link_to new_item_path do
-#     .exhibition-btn
-#       .exhibition-btn__text
-#         出品
-#       .exhibition-btn__icon
-#         =fa_icon 'camera', class: "camera-icon"
-# - else
-#   = link_to new_user_session_path do
-#     .exhibition-btn
-#       .exhibition-btn__text
-#         出品
-#       .exhibition-btn__icon
-#         =fa_icon 'camera', class: "camera-icon"


= link_to new_item_path do
  .exhibition-btn
    .exhibition-btn__text
      出品
    .exhibition-btn__icon
      =fa_icon 'camera', class: "camera-icon"