-# フッター
.footer
  .footer__footer1
    .footer-box-1
      .footer-caption
        メルカリについて
        .footer-caption__menu
          会社概要（運営会社）
        .footer-caption__menu
          採用情報
        .footer-caption__menu
          プレスリリース
        .footer-caption__menu
          公式ブログ
        .footer-caption__menu
          メルカリロゴ利用ガイドライン
      .footer-links
        .twitter-link
          = fa_icon 'twitter', class: "twitter-icon"
        .facebook-link
          = fa_icon 'facebook-square', class: "facebook-icon"
      .footer-mercari-logo
        = image_tag 'mercari-logo.png', class: "mercari-logo-img"
    .footer-box-2
      .footer-caption
        ヘルプ＆ガイド
        .footer-caption__menu
          メルカリガイド
        .footer-caption__menu
          らくらくメルカリ便
        .footer-caption__menu
          ゆうゆうメルカリ便
        .footer-caption__menu
          大型メルカリ便
        .footer-caption__menu
          車体取引ガイド
        .footer-caption__menu
          メルカリあんしん・あんぜん宣言！
        .footer-caption__menu
          偽ブランド品撲滅への取り組み
        .footer-caption__menu
          メルカリボックス
    .footer-box-3
      .footer-caption-3
        プライバシーと利用規約
      .menu-enclosure-1
        .menu-enclosure-1__menu
          プライバシーポリシー
        .menu-enclosure-1__menu
          メルカリ利用規約
        .menu-enclosure-1__menu
          あんしんスマホサポート制度に関する利用特約
        .menu-enclosure-1__menu
          コンプライアンスポリシー
        .footer-mercari-copyright
          © 2019 Mercari
      .menu-enclosure-2
        .menu-enclosure-2__menu
          個人データの安全管理に係る基本方針
        .menu-enclosure-2__menu
          特定商取引に関する表記
        .menu-enclosure-2__menu
          資金決済法に基づく表示
        .menu-enclosure-2__menu
          法令順守と犯罪抑止のために
    .footer-box-4
      .footer-caption
        国
        .footer-country
          日本
        .footer-country
          United States
