-# フッター
.footer
  .footer__footer1
    .footer-box-1
      .footer-caption-1
        メルカリについて
        .footer-menu-1-1
          会社概要（運営会社）
        .footer-menu-1-2
          採用情報
        .footer-menu-1-3
          プレスリリース
        .footer-menu-1-4
          公式ブログ
        .footer-menu-1-5
          メルカリロゴ利用ガイドライン
      .footer-links
        .twitter-link
          = fa_icon 'twitter', class: "twitter-icon"
        .facebook-link
          = fa_icon 'facebook-square', class: "facebook-icon"
      .footer-mercari-logo
        = image_tag 'mercari-logo.png', class: "mercari-logo-img"
    .footer-box-2
      .footer-caption-2
        ヘルプ＆ガイド
        .footer-menu-2-1
          メルカリガイド
        .footer-menu-2-2
          らくらくメルカリ便
        .footer-menu-2-3
          ゆうゆうメルカリ便
        .footer-menu-2-4
          大型メルカリ便
        .footer-menu-2-5
          車体取引ガイド
        .footer-menu-2-6
          メルカリあんしん・あんぜん宣言！
        .footer-menu-2-7
          偽ブランド品撲滅への取り組み
        .footer-menu-2-8
          メルカリボックス
    .footer-box-3
      .footer-caption-3
        プライバシーと利用規約
      .menu-enclosure-1
        .footer-menu-3a-1
          プライバシーポリシー
        .footer-menu-3a-2
          メルカリ利用規約
        .footer-menu-3a-3
          あんしんスマホサポート制度に関する利用特約
        .footer-menu-3a-4
          コンプライアンスポリシー
        .footer-mercari-copyright
          © 2019 Mercari
      .menu-enclosure-2
        .footer-menu-3b-1
          個人データの安全管理に係る基本方針
        .footer-menu-3b-2
          特定商取引に関する表記
        .footer-menu-3b-3
          資金決済法に基づく表示
        .footer-menu-3b-4
          法令順守と犯罪抑止のために
    .footer-box-4
      .footer-caption-4
        国
        .footer-menu-4-1
          日本
        .footer-menu-4-2
          United States
