.big-box
  = render 'shared/header'
  .main-box-big
    .left-big-content
      .details
    .right-big-content
      .result
        〇〇の検索結果
      .result-number
        1-〇〇件表示
      .result-box
        %section.item-result
          %a(href="")
            %figure.items-photo-box
            .items-
  = render 'shared/footer'
  = render 'shared/exhibition-btn'