.wrapper
  = render 'shared/header'
  -# = render 'shared/slick-banner'
  -# = render 'shared/all-contents'
  -# = render 'shared/under-banner'
  = render 'shared/product-details'
  = render 'shared/footer'
  -# = render 'shared/exhibition-btn'

  -# = render 'shared/logout'
  -# = render 'shared/credit-card'
