.complete-box
  .complete-center-box
    .__complete-small-text
      会員登録完了
    .__complete-small-box
      .__complete-list-box
        = form_with model: @user , url: ragistrations_path , method: :post , local: true do |f|
          .__complete-big-textbox
            ありがとうございます。
            %br/
            会員登録が完了しました。
          .__complete-red-move
            = f.submit "メルカリを始める" , class: "coplete-move"