.complete-box
  .complete-center-box
    .__complete-small-text
      会員登録完了
    .__complete-small-box
      .__complete-list-box
        .__complete-big-textbox
          ありがとうございます。
          %br/
          会員登録が完了しました。
        .__complete-red-move
          = link_to "次へ進む" , root_path , class: "complete-text-move"