.info-header-box
  .info-icon-right
    = image_tag "log.png", size: "300x150", alt: "mercari", class: "font-mercari"
  %nav.progress
    %ul.progress-bar
      %li.through#through
        会員情報登録
        .progress-status
        .progress-status_bar
      %li.active#active
        電話番号認証
        .progress-status
        .progress-status_bar
      %li.address#address
        お届け先住所
        .progress-status
        .progress-status_bar
      %li.payment#payment
        支払い方法
        .progress-status
        .progress-status_bar
      %li.end#end
        完了
        .progress-status
        .progress-status_bar
