.fotter-user-box
  .__small-box
    %ul.__fotter-text-box
      %li.__text-box1
        プライバシーポリシー
      %li.__text-box2
        メルカリ利用規約
      %li.__text-box3
        特定商取引に関する表記
    .__fotter-icon
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3791839826" alt="mercari" width="80" height="65">
    .__fotter-text
      © 2019 Mercari
