// ピックアップカテゴリー、新着アイテムなど真ん中のメインコンテンツ
.wrapper {
  background-color: rgb(245, 245, 245);

  .all-contents {
    height: auto;
    width: 100%;


    &__contents {
      width: 80%;
      margin: auto;

      .picup-category {
        color: #333;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin: 26px;
        .new-items {
  max-width: 100%;

  &__caption{
    color: #0099e8;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 26px;
  }

  &__products {
    height: 330px;
    width: 912px;
    display: flex;
    margin: 0 auto;

    .product {
      height: 330px;
      width: 213px;
      margin-right: 20px;

      .photo-zone {
        height: 220px;
        width: 210px;
        display: block;
        margin: 0 auto;

        .vuitton-img {
          width: 100vw;
          max-height: 220px;
          max-width: 213px;
        }
      }

      .data {
        background-color: #fff;
        padding: 16px;

        .name {
          height: 48px;
          word-wrap: break-word;
          overflow: hidden;
        }

        .price {
          height: 17px;
          font-size: 17px;
          margin-top: 8px;
        }
      }
    }
  }
}

      }
      .show-all {
        color: #0099e8;
        width: 912px;
        font-size: 14px;
        text-align: right;
        margin: 0 auto;
        padding: 20px 0;
      }
    }
  }
}

.itmes-main-link{
  color: #333;
}