// クレジットカード登録ページ
.wrapper {
  background-color: rgb(245, 245, 245);

  .all-contents {
    height: 1000px;
    width: 100%;

    &__contents {
      width: 73%;
      margin: auto;

      .credit-card-1 {
        background-color: #fff;
        height: 360px;
        width: 700px;
        margin-top: 40px;
        float: right;

        .credit-card-2 {
          color: rgb(51, 51, 51);
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          border-bottom: 2px solid #f5f5f5;
          padding: 8px 0;
        }

        .credit-card-3 {
          // background-color: green;
          height: 306px;
          width: 572px;
          margin: auto;

          .credit-card-4 {
            // background-color: blue;
            height: 200px;
            width: 320px;
            margin: auto;

            .credit-card-5 {
              font-size: 16px;
              font-weight: bold;
              padding-top: 60px;
              margin-bottom: 20px;
            }

            .credit-card-6 {
              background-color: #ea352d;
              height: 50px;
              width: 320px;

              .credit-card-8 {
                // background-color: green;
                height: 20px;
                width: 240px;
                padding-top: 16px;
                margin: auto;
                display: flex;

                .credit-card-icon {
                  color: #fff;
                  padding: 2px 16px 0 16px;
                }

                .credit-card-9 {
                  color: #fff;
                  font-size: 14px;
                }
              }
            }
          }

          .credit-card-7 {
            color: rgb(0, 153, 232);
            height: 50px;
            width: 572px;
            font-size: 14px;
            text-align: right;
            border-top: 2px solid #f5f5f5;
            padding-top: 30px;
          }
        }

        // .credit-card-3 {
        //   background-color: green;
        //   height: auto;
        //   width: 572px;
        //   margin: 60px auto;

        //   .credit-card-4 {
        //     background-color: blue;
        //     height: 180px;
        //     width: 320px;
        //     margin: auto;
        //   }
        // }
      }


    }
  }
}
