// 出品ボタン
.exhibition-btn {
  background-color: #ea352d;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  right: 32px;
  bottom: 32px;
  position: fixed;
  z-index: 1000px;

  &__text {
    color: #fff;
    height: 22px;
    font-size: 22px;
    padding-top: 32px;
  }

  &__icon {
    color: #fff;
    font-size: 60px;
    padding-top: 8px;
  }
}
