@mixin footer-caption {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  margin-top: 14px;
}

@mixin footer-menu {
  color: #fff;
  font-size: 12px;
  opacity: .7;
  margin-top: 14px;
}

// フッター
.footer {
  background-color: #212121;
  height: 391px;
  width: 100vw;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__footer1 {
    height: 391px;
    width: 1020px;
    margin: auto;
    display: flex;

    .footer-box-1 {
      width: 204px;

      .footer-caption {
        @include footer-caption;

        &__menu {
          @include footer-menu;
        }
      }

      .footer-links {
        height: 43px;
        display: flex;
        margin-top: 14px;

        .twitter-link {
          width: 47.53px;
          margin-top: 14px;

          .twitter-icon {
            color: #fff;
            font-size: 33px;
          }
        }

        .facebook-link {
          width: 44px;
          margin-top: 14px;
          padding-bottom: 60px;

          .facebook-icon {
            color: #fff;
            font-size: 32px;
          }
        }
      }
      .footer-mercari-logo {
        margin-top: 70px;

        .mercari-logo-img {
          max-height: 36px;
          max-width: 130px;
        }
      }
    }
    .footer-box-2 {
      width: 234.59px;

      .footer-caption {
        @include footer-caption;

        &__menu {
          @include footer-menu;
        }
      }
    }

    .footer-box-3 {
      height: 391px;
      width: 428.39px;

      .footer-caption-3 {
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        height: 22px;
        margin-top: 18px;
      }

      .menu-enclosure-1 {
        height: 148px;
        width: 184.19px;
        float: left;
        padding-right: 20px;

        &__menu {
          @include footer-menu;
        }

        .footer-mercari-copyright {
          color: #fff;
          font-size: 12px;
          margin-top: 150px;
          margin-left: 35px;
        }
      }

      .menu-enclosure-2 {
        height: 148px;
        width: 184.19px;
        float: left;

        &__menu {
          @include footer-menu;
        }
      }
    }

    .footer-box-4 {
      height: 96.83px;
      width: 88px;

      .footer-caption {
        @include footer-caption;
      }

      .footer-country {
        @include footer-menu;
      }
    }
  }
}
