.big-box {
  box-sizing: border-box;

  .main-box-big {
    margin: 40px auto 0;
    width: 1020px;
    display: flex;


    .left-big-content {
      width: 280px;
      margin-right: 40px;

      .details {
        padding: 16px;


        .search-shuffle {
          height: 40px;
          width: 100%;
          padding: 0 16px;
          background-color: white;

        }

        .search-refine {
          margin-top: 40px;
          background-color: white;


          .form-sort {
            width: 100%;
            margin: 24px 0 0;

            .area-form {
              margin-top: 8px;
              padding: 10px 16px 8px;

            }

              .tb {
                @include font-weight;
                font-size: 14px;

              }

          }

        }

      }

    }

    .right-big-content {
      width: auto;

      .result {
        font-size: 18px;
        margin: 0 0 8px;
        display: flex;

      }

      .result-number {
        font-size: 12px;
        color: #AAAAAA;
        margin: 16px 0;

      }

      .result-box {
        display: flex;
        flex-wrap: wrap;

        .item-result {
          margin: 0 20px 20px 0;
          @include font-weight;
          background-color: white;

          a {
            text-decoration: none;
            color: black;

            .item-photo-box {
              height: 170px;
              width: 160px;

              .items-box_photo__sold{
                margin-top:156px;
                width: 0;
                height: 0;
                border-top: 60px solid #ea352d ;
                border-right: 60px solid transparent;
                border-bottom: 60px solid transparent;
                border-left: 60px solid #ea352d ;
                z-index:100;
                position: relative;
                top:-320px;

                &__inner{
                  transform: rotate(-45deg);
                  font-size: 28px;
                  margin:-26px 0px 0px -55px;
                  color: #fff;
                  letter-spacing: 2px;
                  font-weight: 600;
                }
              }

              .photo-index {
              width: 0px;
              height: 0px;
              }

            }

            .item-body-box {

              .item-body-box-val {

                .item-price {

                }

              }

            }

          }

        }

      }

    }

  }

}