*{
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  text-decoration: none;
}
@mixin li{
  cursor: pointer;
  position: relative;
  display: block;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #eee; 
  &:hover{
    color:#333;
    background-color:#f5f5f5;
    cursor:pointer;}
}
@mixin h2{
  background: #eee;
  font-weight:600;
}
@mixin h3{
  display: block;
  color:#333;
margin: 40px 0 0;
font-size: 16px;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

@mixin direction{
  position: absolute;
    top: 50%;
    right: 16px;
    color: #ccc;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all ease-out .2s;
    transition: all ease-out 
}

.side-bar{
  list-style: none;
  float: left;
  min-width: 280px;
  margin: 0 40px 0 0;
  


.bar{
  
  display: block;
    list-style-type: disc;
    
  .mypage li {
    @include li;
    .icon-arrow-right{
      @include direction;
    }
  }
  .merpay h3 {
    @include h3;
  }
  .merpay li {

    @include li;
    .icon-arrow-right{
    @include direction;
    
    }
  }
  .config h3{
    @include h3;
  }
  
  .config li {
    @include li;
    .icon-arrow-right{
    @include direction;
    }}
  .config h2{
    @include li;
    @include h2;
    }
  .icon-arrow-right1{
  float:right;
  }
      }}
  .log-out-text{
    color: #333;
  }
  


