// ヘッダーの下のスリック部分
.slick-banner {
  height: 391px;
  width: 100%;

  .slick-banner-img-1 {
    height: 100%;
<<<<<<< Updated upstream
    max-width: 100%;
=======
    width: 100vw;
>>>>>>> Stashed changes
  }
}
