// フッターの上のバナー部分
.under-banner {
  height: 261px;
  width: 100%;

  .under-banner-img {
    height: 100%;
<<<<<<< Updated upstream
    max-width: 100%;
=======
    width: 100vw;
>>>>>>> Stashed changes
  }
}
