.projects {
  background-color: white;

  .topic {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #topic-form {
    overflow:hidden;

    .nickname-edit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      padding: 72px 16px 24px;
      @include back-img;

      #img-top {
        border-radius: 50%;

      }
      .nickname {
        margin-left: 15px;
        height: 48px;
        width: 220px;

      }

    }

    .about-edit {
      text-align: center;
      // width: auto;
      margin: 40px 16px 0;

      .p-about {
        width: 700px;
        height: 200px;

      }
      .p-edit {
        color: white;
        background-color: red;
        margin-top: 16px;
        margin-bottom: 40px;
        width: 700px;
        padding: 10px;
        border-style: none;

      }

    }

  }

}