// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-main {
  display: flex;
  height: 100%;
  border-width: 0px;
  margin: 40px 200px 40px;
  padding: 0, 0, 40px;

  .right-container {
    height: 1200px;
    width: 400px;
    background-color: chartreuse;
    margin-right: 40px;

  }

  .left-container {
    width: 100%;

    .user-top {
      height: 200px;
      text-align: center;
      background-color: aqua;



      .top-box {
        text-decoration: none;
        position: relative;
        top: 50px;

        .user-img {

          #img-top {
            border-radius: 50%;

          }

        }

        .user-nick {
          font-size: 15px;
          line-height: 1.4;
        }

        .user-val {
          font-size: 15px;
          line-height: 1.4;
        }

      }

    }

    .user-notice {
      background-color: khaki;
      min-height: 300px;

      .user-tab {
        display: flex;
        width: 100%;
        line-height: 72px;
        font-size: 16px;

        .active-1 {
          background-color: aliceblue;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .one {
            font-weight: 600;
          }

        }

        .active-2 {
          background-color: gainsboro;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .one {
            font-weight: 600;
          }

        }

      }

      .user-box {
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #ccc;

        #box-img {
          position: relative;
          top: 100px;

        }

        .list-box {
          padding-top: 160px;
          padding-bottom: 60px;

          .not-find-box-1 {
            font-weight: 600;
          }

        }

      }

    }

    .user-history {
      width: 100%;
      background-color: beige;
      margin-top: 40px;

      .history-head {
        height: 72px;
        font-size: 16px;
        font-weight: 600;
        padding-right: 16px;
        padding-left: 16px;
        display: flex;
        align-items: center;

      }

      .history-tab {
        display: flex;
        line-height: 72px;
        font-size: 16px;

          .active-3 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: greenyellow;

            .two {
              font-weight: 600;
            }

          }

          .active-4 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: green;

            .two {
              font-weight: 600;
            }

          }

      }

      .history-box {
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #ccc;

        #box-img {
          position: relative;
          top: 100px;

        }

        .history-list {
          padding-top: 160px;
          padding-bottom: 60px;

          .not-find-history-1 {
            font-weight: 600;

          }

        }

      }

    }

  }

}