.projects {
  width: auto;
  background-color: khaki;

  .topic {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .nickname-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: blue;

    #img-top {
      border-radius: 50%;

    }
    .nickname {
      margin-left: 15px;
      height: 48px;
      width: 220px;

    }

  }

  .about-edit {
    background-color: antiquewhite;
    width: 600px;
    height: 200px;
    text-align: center;
    margin: 0 auto;

    .p-about {
      width: auto;

    }
    .p-edit {

    }

  }

}