// フッター
.footer {
  background-color: #212121;
  height: 391px;
  width: 1440px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__footer1 {
    height: 298px;
    width: 1020px;
    margin: 0 auto;
    display: flex;

    .footer-box-1 {
      height: 241px;
      width: 204px;

      .footer-caption-1 {
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        margin-top: 14px;

        .footer-menu-1-1 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-1-2 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-1-3 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-1-4 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-1-5 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }
      }

      .footer-links {
        height: 43px;
        display: flex;
        margin-top: 14px;

        .twitter-link {
          width: 47.53px;
          margin-top: 14px;

          .twitter-icon {
            color: #fff;
            font-size: 32px;
          }
        }

        .facebook-link {
          width: 44px;
          margin-top: 14px;

          .facebook-icon {
            color: #fff;
            font-size: 32px;
          }
        }
      }
    }

    .footer-box-2 {
      width: 234.59px;

      .footer-caption-2 {
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        margin-top: 14px;

        .footer-menu-2-1 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-2-2 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-2-3 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-2-4 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-2-5 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-2-6 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-2-7 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-2-8 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }
      }
    }

    .footer-box-3 {
      height: 188px;
      width: 428.39px;

      .footer-caption-3 {
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        height: 22px;
        margin-top: 18px;
      }

      .menu-enclosure-1 {
        height: 148px;
        width: 184.19px;
        float: left;
        padding-right: 20px;

        .footer-menu-3a-1 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-3a-2 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-3a-3 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-3a-4 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }
      }

      .menu-enclosure-2 {
        height: 148px;
        width: 184.19px;
        float: left;

        .footer-menu-3b-1 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-3b-2 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-3b-3 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }

        .footer-menu-3b-4 {
          color: #fff;
          font-size: 12px;
          opacity: .7;
          margin-top: 14px;
        }
      }
    }

    .footer-box-4 {
      height: 96.83px;
      width: 88px;

      .footer-caption-4 {
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        margin-top: 14px;
      }

      .footer-menu-4-1 {
        color: #fff;
        font-size: 12px;
        opacity: .7;
        margin-top: 14px;
      }

      .footer-menu-4-2 {
        color: #fff;
        font-size: 12px;
        opacity: .7;
        margin-top: 14px;
      }
    }
  }

  &__footer2 {
    height: calc(391px - 298px);
    display: flex;
    width: 1440px;
    margin-left: 10px;

    .footer-mercari-logo {
      width: 124px;
      margin-top: 30px;
      margin-left: 200px;
    }

    .footer-mercari-copyright {
      color: #fff;
      font-size: 12px;
      margin-top: 40px;
      text-indent: 29em;
    }
  }
}